.footer{
    height: 120px;
    background-color: rgba(38, 36, 36, 0.9);
    position: relative;
    
    &__container{
        @include generarFlex(row, space-between);
    }
    
    &__descripcion{
        display: flex;
       margin: map-get($estilosGenerales, rem);
       
       &--logo{
           height: 60px;
           width: 60px;
           margin-right: map-get($estilosGenerales, rem);
       }
       
       &--texto{    
           text-align: justify;
           width: map-get($estilosGenerales, rem) * 25;
       }
    }
    
    & p{
        color: rgba(255, 255, 255, 0.8);
    }
    
    &__enlaces{
        @include generarFlex(row, flex-end);
        flex-flow: wrap;
        
        &--links{
            margin-right: map-get($estilosGenerales, rem) * 5;
        }
    }
    
    &__imagenes{
        height: 50px;
        margin-top: map-get($estilosGenerales, rem);
    }
    
    &__derechos{
        text-align: map-get($estilosGenerales, centro);
        position: absolute;
        bottom: 0;
        left: 50%;
    
        transform: translate(-50%, -50%);
    }
}








