.header{
    background-color: rgba(0, 0, 0, 0.922);
    @include generarFlex(row, flex-start);
    align-items: center;
    padding: map-get($estilosGenerales, rem) / 2;
    
    &__logo{
        margin-left: map-get($estilosGenerales, rem);
        
        &--imagen{
            height: 75px;
            width: 75px;
        }
    }
    
    &__menu{
        display: none;
    }
    
    &__lista{
        @include generarFlex(row, center);
        flex-wrap: wrap;
        margin-left: map-get($estilosGenerales, rem);
    }
    
    &__items{
        font-family: $font;
        font-size: map-get($estilosGenerales, rem) * 2;
        text-align: map-get($estilosGenerales, centro);
        padding: 25px 30px 25px;
        list-style-type: none;
        
        &--close{
            display: none;
        }
        
        &:hover{
            background-color: orange;
            color: $blanco;
        }
    }
    
    &__links{
        text-decoration: none;
        color: $blanco;
    }
}








