.preguntas{
    height: 750px;
    background-image: url(../imagenes/fondo-preguntas.svg);
    background-size: cover;
    background-repeat: no-repeat;

    @include generarFlex(column, space-evenly);
    align-items: center;
    
    &__principal{
        min-width: 800px;
        margin-bottom: 2rem;
        color: $blanco;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.7);
        
        & h2{
            font-family: $font;
        }
        
        & p{
            font-size: 2rem;
        }
    }
    
    &__boton{
        font-size: 3rem;
        background-color: transparent;
        color: $blanco;
    }
}

.accordion-button:not(.collapsed){
    color: white;
    background-color: transparent;
}



