.promociones{
    background-color: rgba(25, 25, 25, 1);
    padding: map-get($estilosGenerales, centro) * 2;
    min-height: 500px;
    
    &__titulo{
        font-family: $font;
        color: $blanco;
        text-align: map-get($estilosGenerales, centro);
        font-size: 3rem;
        padding-bottom: 1rem;
    }
    
    &__carta{
        max-width: map-get($estilosGenerales, rem) * 18;
        min-height: 460px;
        background-color: rgba(38, 36, 36, 0.9);
        padding: map-get($estilosGenerales, rem) / 2;
        color: $blanco;
        text-align: justify;
        
        &--animacion{
            max-width: map-get($estilosGenerales, rem) * 18;
            min-height: 460px;
            
            &:hover{
                background-color: rgba(74, 70, 70, 0.9);
                transform: scale(1.1); 
                border-radius: 15px;
                transition: all 2s;
            }
        }
    }
    
    &__imagenes{
        height: map-get($estilosGenerales, rem) * 15;
    }
}

.carta__titulo{
    font-family: $font;
    text-align: map-get($estilosGenerales, centro);
}